<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <link rel="stylesheet" href="styles/style.css"/>
    <title>Grillito-Feliz.Inc</title>
</head>
<body>
<div>
    <h1>Edicion de libros</h1>
    <p>------------- <a href="/">Cancelar</a> -------------</p>
    <form action="#" th:action="@{/editarLibro/{id}(id=${id})}" th:object="${libro}" method="post">
        <div style="display: flex; flex-direction: column; max-width: 50%">
            <label for="nombre">Nombre</label>
            <input type="text" th:field="*{nombre}" id="nombre"/>

            <label for="descripcion">Descripcion</label>
            <input type="text" th:field="*{descripcion}" id="descripcion"/>

            <label for="autor">Autor</label>
            <input type="text" th:field="*{autor}" id="autor"/>

            <input type="submit" value="Aceptar cambios" >
        </div>

    </form>

</div>
</body>
</html>