<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Grillito-Feliz.Inc</title>
</head>
<body>
<div>
    <h1>El Grillito Feliz</h1>
    <hr>
    <a href="/registrarPadre"> Registrar padre</a>
    <a href="/listarPadres"> Listar padres</a>
    <a href="/buscarPadres"> Buscar padres</a>

    <hr>
    <a href="/registrarHijo"> Registrar estudiante</a>
    <a href="/listarConteo"> Listar lecturas</a>

    <hr>
    <a href="/registrarLibro"> Registrar libro</a>
    <a href="/listarLibros"> Listar libros</a>

</div>

</body>
</html>