<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <link rel="stylesheet" href="styles/style.css"/>
    <title>Grillito-Feliz.Inc</title>
</head>
<body>
<div>
    <h1>Listado de libros</h1>
    <a href="/"> Volver al inicio </a>
    <ul>
        <div th:each="entry,status : ${libros}">
            <li>
                <div>
                    <div>

                        <H3><span th:text="${entry.nombre}"></span></H3>
                        <p><span th:text=" 'Descripcion: '+ ${entry.descripcion}"></span></p>
                        <p><span th:text=" 'Autor: '+ ${entry.autor}"></span></p>
                        <p> - <a th:href="@{/editarLibro/{id}(id=${entry.id})}">Editar</a> -- <a th:href="@{/borrarLibro/{id}(id=${entry.id})}">Borrar</a> - </p>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</div>
</body>
</html>