<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <link rel="stylesheet" href="styles/style.css"/>
    <title>Grillito-Feliz.Inc</title>
</head>
<body>
<div>
    <h1>Listado de padres</h1>
    <a href="/"> Volver al inicio </a>
    <ul>
        <div th:each="entry,status : ${padres}">
            <li>
                <div>
                    <div>
                        <h3 th:text=" ' Padre de familia / encargado: '"> </h3>
                        <h2><span th:text="${entry.nombre}" ></span></h2>

                    </div>
                    <div class="tl-body">
                        <p><span th:text=" 'Cedula: '+ ${entry.cedula}"> </span></p>
                        <p><span th:text=" 'Direccion: '+ ${entry.direccion}"></span></p>
                        <p><span th:text=" 'Telefono: '+ ${entry.telefono}"></span></p>
                        <p><span th:text=" 'Celular: '+ ${entry.celular}"></span></p>
                        <p> - <a th:href="@{/editarPadre/{id}(id=${entry.id})}">Editar</a> --
                            <a th:href="@{/listarHijos/{id}(id=${entry.id})}">Listar hijos</a> - </p>
                        </div>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</div>
</body>
</html>