<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Grillito-Feliz.Inc</title>
</head>
<body>
<div>
    <h1>Registro de padres</h1>
    <p>------------- <a href="/">Cancelar</a> -------------</p>
    
    <form action="#" th:action="@{/registrarPadre}" th:object="${padre}" method="post">
        <div style="display: flex; flex-direction: column; max-width: 50%">
            <label for="nombre">Nombre</label>
            <input type="text" th:field="*{nombre}" id="nombre"/>

            <label for="cedula">Cedula</label>
            <input type="text" th:field="*{cedula}" id="cedula"/>

            <label for="direccion">Direccion</label>
            <input type="text" th:field="*{direccion}" id="direccion"/>

            <label for="telefono">Numero de telefono</label>
            <input type="number" th:field="*{telefono}" id="telefono"/>

            <label for="celular">Numero de celular</label>
            <input type="number" th:field="*{celular}" id="celular"/>

            <input type="submit" value="Registrar" >
        </div>

    </form>

</div>
</body>
</html>